/*1599 to 1440 */
@media (max-width: 1599px) {

}
/*1599 to 1440 */

/*1439 to 1360 */
@media (max-width: 1439px) {

}
/*1439 to 1360 */

/*1259 to 1200 */
@media (min-width: 1200px) and (max-width: 1259px) {



}
/*1259 to 1200 */

/*1199 to 1152 */
@media (min-width: 1152px) and (max-width: 1199px) {
	
}
/*1199 to 1152 */

/*1151 to 1024 */
@media (min-width: 1024px) and (max-width: 1151px) {


}
/*1151 to 1024 */

/*1023 to 992 */
@media (min-width: 992px) and (max-width: 1023px) {


}
/*1023 to 992 */

/*991 to 970 */
@media (min-width: 970px) and (max-width: 991px) {
	

}
/*991 to 970 */

/*969 to 800 */
@media (min-width: 800px) and (max-width: 969px) {
  

}
/*969 to 800 */

/*799 to 768 */
@media (min-width: 768px) and (max-width: 799px) {
	
	
}
/*799 to 768 */

/*767 to 736 */
@media (min-width: 736px) and (max-width: 767px) {


}
/*767 to 736 */

/*735 to 667 */
@media (min-width: 667px) and (max-width: 735px) {


}
/*735 to 667 */

/*1540 & above  */
@media (min-width: 1800px) and (max-width: 2000px) {
	#features {
		padding-top: 10rem;
	}
	#features img {
		max-height: 655px;
	}
}

/*1540 & above  */
@media (min-width: 1600px) and (max-width: 1799px) {
	#features {
		padding-top: 8rem;
	}
	#features img {
		max-height: 655px;
	}
}

/*1540 & above  */
@media (min-width: 1540px) and (max-width: 1599px) {
	#features img {
		max-height: 655px;
	}
	#features img {
    	margin: 3rem auto 0;
    }
	
}

/*1400 & above  */
@media (min-width: 1382px) and (max-width: 1539px) {
	#features img {
		max-height: 500px;
	}
	
}

/*1200 & above screens */
@media (min-width: 1200px) {
	.main_banner .carousel .carousel-inner .carousel-item {
		height: 625px;
	}
}

/*1200 & above screens */
@media (min-width: 1200px) and (max-width: 1381px) {
    
	#features img {
		margin: 6rem auto 0;
	}
	#features {
		padding-top: 3rem;
	}
}



/*414 to 450*/
@media (min-width: 1366px) {
   
	/*.main_banner .carousel .carousel-inner .carousel-item {
		height: 848px;
	}*/
	.main_banner .carousel img {
		max-height: 420px;
	}
	.social_block {
		bottom: 40%;
	}
	#howIsItUseFul .container-fluid{
		max-width: 1360px;
	}
}
/*414 to 450*/




/*413 to 375*/
@media (min-width: 1200px) and (max-width : 1365px) {
   
	.main_banner .carousel img {
		margin-right: 100px;
		max-height: 420px;
	}
	.main_banner .carousel .carousel-inner .carousel-item h1 {
		font-size: 35px;
	}
	.pop_contact>.row>.col-md-8 {
		padding-bottom: 0;
	}
	.about_block p {
		width: 82%;
	}
	/*.main_banner .carousel .carousel-inner .carousel-item {
		height: 820px;
	}*/
	.product_features h1{
		font-size: 32px;
	}
	.product_features .color_select li a {
		height: 24px;
    	width: 42px;
	}
	.product_features .product_details ul li {
		height: 105px;
	    width: 105px;
	    padding-top: 20px;
	}
	.product_features .product_details ul li img {
		max-width: 45px;
	}
	.product_features .product_details ul li h5 {
		font-size: 18px;
	}
	.product_features .product_details ul li p {
		font-size: 10px;
	}
	.product_features .product_sel .btn {
		font-size: 15px;
	}
	.buy_product_block a span {
		font-size: 26px;
	}
	.buy_product_block a svg {
		max-width: 45px;
	}
	.block_lg div.card h1 {
		font-size: 30px;
	}
	.block_lg div.card h1 span {
		font-size: 40px;
	}
	.product_features .product_details ul li + li {
	    margin-top: 30px;
	}
}
/*413 to 375*/

/*374 to 320*/
@media (min-width: 992px) and (max-width : 1199px) {

	.main_banner .carousel .carousel-caption {
		bottom: inherit;
		top: 27%;
	}
	.main_banner .carousel .carousel-inner .carousel-item h1 {
		font-size: 35px;
	}
	.main_banner .carousel img {
		margin-right: 65px;
		max-height: 400px;
	}
	.social_block {
		right: 20px;
		bottom: inherit;
		top: 30%;
	}
	.main_banner .carousel-indicators li {
		width: 45px;
	}
	.main_banner .carousel .slide_option_list {
		top: 50%;
	}
	.about_block .col-md-4>div {
		padding-right: 0;
		margin-right: 15px;
	}
	.bg_bike {
		background-size: 350px;
	}
	#product.pt-5 {
		padding-top: 0!important;
	}
	.product_features .product_sel {
	    padding-top: 2rem;
	}
	.product_features h1 {
		font-size: 26px;
	}
	.product_features .color_select li a {
		height: 24px;
    	width: 35px;
	}
	.product_features .btn.mt-5 {
		margin-top: 15px!important;
	    font-size: 12px;
	    padding: 8px 10px;
	}
	.product_features .product_details ul li {
		height: 84px;
		width: 84px;
		padding-top: 14px;
	}
	.product_features .product_details ul li img {
	    max-width: 30px;
	}
	.product_features .product_details ul li h5 {
		font-size: 14px;
	}
	.product_features .product_details ul li p {
		font-size: 8px;
	}
	.product_features .product_details ul li + li {
	    margin-top: 20px;
	}
	.buy_product_block a span.ml-4, .buy_product_block a span {
		font-size: 20px;
		margin-left: 0px!important;
		margin-right: 0!important;
	}
	.buy_product_block .block1 svg.d_arrow, .buy_product_block .block2 a svg {
		max-width: 30px;
	}
	.buy_product_block .left_block ul {
		padding-left: 2rem;
	}
	.product_features {
		background-size: cover;
	}
	.buy_product_block .row.block1 > .col-md-8.left_block {
		padding: 2rem 0;
	}
	.buy_product_block .row.block2 > .col-md-8.left_block.r {
		padding-top: 2rem;
	}
	.buy_product_block .row.block2 > .col-md-8.left_block.r ul {
	    padding: 0 0 2rem 2rem;
	}
	.buy_product_block .left_block ul li:first-child, .buy_product_block .block2 .left_block ul li:first-child {
	    width: 90%;
	}
	.buy_product_block .left_block h1 {
		font-size: 30px;
	}
	.block_lg div.card h1 {
	    font-size: 26px;
	    margin-bottom: 15px;
	}
	.block_lg div.card h1 span {
		font-size: 35px;
	}
	.block_lg div.card {
		margin-bottom: 3rem;
	}
	#ftr {
		padding: 2rem;
    	margin-left: 1rem;
	}
	#ftr li a {
		font-size: 26px;
	}
	.pop_contact>.row>.col-md-8 {
		padding-right: 2rem;
		padding-bottom: 0;
	}
	.form-group label {
		font-size: 14px;
	}
	.modal .form-control {
	    font-size: 14px;
	    padding: 15px 0;
	    height: 50px;
	}
	#tri {
		bottom: -43px;
	}
	footer a {
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width : 991px){
    
    .container-fluid.mx {
    	width: 100%;
    }
    .main_banner .carousel .carousel-inner .carousel-item h1 {
    	font-size: 28px;
    }
    .main_banner .carousel img {
    	max-height: 300px;
    	margin-right: 100px;
    }
    .main_banner .carousel .caption_block {
    	text-align: left;
    }
    .main_banner .carousel .carousel-caption{
    	bottom: inherit;
    	top: 28%;
    }
    .main_banner .carousel .slide_option_list {
    	top: 54%;
    }
    .main_banner .carousel-indicators li {
    	width: 30px;
    }
    .main_banner .carousel .slide_option_list div.col-md-6>ul{
    	text-align: left;
    }
    .social_block {
    	bottom: inherit;
    	top: 150px;
    }
    /*.main_banner .carousel .carousel-inner .carousel-item {
    	height: 690px;
    }*/
    .about_block .col-md-4>div{
    	padding-right: 20px;
    	margin-right: 0;
    }
    .about_block h1 {
    	font-size: 30px;
    }
    .about_block p {
    	font-size: 14px;
    }
    .bg_bike {
    	background-size: 300px;
    }
    #product.pt-5 {
    	padding-top: 0!important;
    }
    #featuresBlock .row.mb-5 {
    	margin-bottom: 0!important;
    }
    .product_features h1 {
    	font-size: 20px;
    }
    .product_features .color_select li a{
    	height: 20px;
    	width: 28px;
    }
    .product_features .product_sel {
	    padding-top: 3rem;
	}
	.product_features .product_sel .btn.mt-5 {
		margin-top: 1rem!important;
		font-size: 10px;
    	padding: 8px;
	}
	.product_features .product_details ul li {
		height: 100px;
	    width: 100px;
	    padding-top: 16px;
	    margin: 0 auto;
	}
	.product_features .product_details ul li img {
	    max-width: 30px;
	}
	.product_features .product_details ul li h5 {
		font-size: 16px;
	}
	.product_features .product_details ul li p {
		font-size: 11px;
	}
	.product_features .product_details ul li + li {
	    margin-top: 20px;
	}
	.buy_product_block .row.block1 > .col-md-8.left_block {
		padding: 2rem 0;
	}
	.buy_product_block .row.block2 > .col-md-8.left_block.r {
		padding-top: 2rem;
	}
	.buy_product_block .row.block2 > .col-md-8.left_block.r ul {
	    padding: 0 0 2rem 2rem;
	}
	.buy_product_block .left_block ul {
		padding-left: 1rem;
	}
	.buy_product_block .left_block ul li:first-child {
		width: 90%;
	}
	.buy_product_block .block1 svg.d_arrow {
		width: 20px;
	}
	.buy_product_block a span {
		font-size: 16px;
	}
	.buy_product_block .block3 .row.block1 svg, .buy_product_block .row.block2 svg {
		width: 20px;
	}
	.buy_product_block .block4 .block2 a span {
		margin-right: 0;
	}
	.buy_product_block .block2 .left_block ul li:first-child {
		width: 100%;
	}
	.block_lg {
		padding: 2rem 0 0;
	}
	.block_lg div.card .img-block img {
		max-width: 175px;
	}
	.block_lg div.card .img-block {
		height: 230px;
	}
	.block_lg div.card h1 {
		font-size: 18px;
		margin-bottom: 12px;
	}
	.block_lg div.card h1 span {
		font-size: 30px;
	}
	.block_lg div.card p {
		font-size: 14px;
		min-height: 150px;
		padding: 0 15px;
	}
	.block_lg div.card .btn {
		font-size: 14px;
		padding: 10px 20px;
	}
	.block_lg div.card .btn svg {
		margin-left: 15px;
	}
	.block_lg div.card {
		margin-bottom: 3rem;
	}
	.client_logo_block {
		margin-top: 5rem;
	}
	.content-details {
		padding: 0;
	}
	.content-details h3 {
		font-size: 12px;
	}
	.block_lg h1.title {
		font-size: 24px;
	}
	.team_block {
		padding: 1rem 15px;
    	margin-top: 1rem;
	}
	.links_block>ul>li {
		width: 30%;
	}
	footer a {
		font-size: 14px;
	}
	.links_block li h3 {
	    font-size: 20px;
	}
	.links_block li+li {
		margin-top: 5px;
	}
	.links_block>ul ul{
		margin-top: 12px!important;
	}
	footer div.container + div.container {
	    padding-top: 1rem!important;
	    padding-bottom: 1rem!important;
	}
	.social_links_bottom  .pb-5 {
		padding-bottom: 1rem!important;
	}
	footer {
		font-size: 14px;
	}
	.copy_right_block li+li {
		padding-left: 12px;
    	margin-left: 10px;
	}
	.copy_right_block li a{
		font-size: 14px;
	}
	footer.py-5 {
		padding-top: 2rem!important;
		padding-bottom: 1rem!important;
	}
	.links_block li img {
		width: 150px;
	}
	#ftr {
	    padding: 1.5rem;
	    margin-left: 0rem;
	    margin-top: 3rem;
	}
	#ftr li a {
		font-size: 25px;
	}
	.modal-dialog {
	    max-width: 95%;
	}
	.pop_contact h2 {
		margin-bottom: 0;
	}
	.pop_contact>.row>.col-md-8 {
		padding-right: 2rem;
	}
	.form-group label {
		font-size: 14px;
	}
	.product_features {
		background-size: cover;
	}
	#tri {
		bottom: -43px;
	}
}

@media (min-width: 576px) and (max-width : 767px){
    
    .sidenav a {
    	font-size: 18px;
    }
    .main_banner .carousel img {
    	float: unset;
    	max-height: 400px;
	    display: block;
	    margin: 11rem auto 8rem;
	    padding: 0 15px;
    }
    /*.main_banner .carousel .carousel-inner .carousel-item {
    	height: 930px;
    }*/
    .social_block {
    	right: 15px;
    }
    .main_banner .carousel .carousel-inner .carousel-item h1 {
	    font-size: 35px;
	}
	.main_banner .carousel .carousel-caption {
		top: 100px;
		bottom: inherit;
	}
	.main_banner .carousel .slide_option_list {
		top: 26%;
	}
	.main_banner .carousel-indicators li {
		width: 32px;
	}
	.about_block {
		padding: 2rem 0;
	}
	.about_block .col-md-4, .about_block .col-md-6 {
		-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.about_block .col-md-4>div {
	    padding-right: 15px;
	    margin-right: 15px;
	}
	.about_block h1 {
	    font-size: 30px;
	}
	.about_block p {
	    font-size: 14px;
	    line-height: 1.6;
	    margin: 0;
	}
	.bg_bike {
	    background: url(../images/render_bike.png);
	    background-repeat: no-repeat;
	    background-position: 100% 150px;
	    background-size: 100px;
	}
	.product_features .nav li a {
		font-size: 20px;
	}
	.product_features .nav {
		width: 300px;
	}
	.product_features .product_sel {
	    padding-top: 0;
	    text-align: center;
    	margin-bottom: 40px;
	}
	#product .btn.mt-5{
		margin-top: 15px!important;
	}
	#product.pt-5 {
		padding-top: 0!important;
	}
	.product_features h1 {
		font-size: 30px;
	}
	.product_features .product_details ul li {
		margin: 0 auto 20px;
	}
	.product_features .product_details ul {
		column-count: 2;
	}
	.product_features.py-5 {
		padding-bottom: 30px!important;
	}
	.buy_product_block .row.block1 {
		/*padding: 2rem 0;*/
		background-position: left;
	}
	.buy_product_block .left_block ul {
		padding-left: 0;
	}
	.buy_product_block .left_block ul li:first-child, .buy_product_block .block2 .left_block ul li:first-child {
		width: 100%;
		margin-bottom: 30px;
	}
	.buy_product_block .next_div {
		margin-left: 15px;
	}
	.buy_product_block .block4 .next_div {
		margin-left: 0;
	}
	.buy_product_block .row.block2 {
		/*padding: 2rem 0;*/
		background-position: left;
	}
	.block_lg div.card {
		margin-bottom: 1rem;
	}
	#testimonials {
		margin-top: 2rem;
	}
	.block_lg h1.title {
		font-size: 24px;
	}
	.team_block ul {
	    column-count: 2;
	}
	.team_block h1.title {
		margin-left: 0;
	}
	.team_block {
		padding: 2rem 15px;
    	margin-top: 1rem;
	}
	.events_block {
	    padding: 2rem 15px 0;
	}
	.contact_block {
		padding: 2rem;
	}
	.contact_block iframe {
		padding-right: 0;
	}
	.contact_block h1 {
		margin-bottom: 0rem;
    	margin-top: 1.5rem;
	}
	.links_block>ul>li:first-child {
		width: 100%;
		margin-bottom: 2rem;
	}
	.links_block>ul>li {
		width: 30%;
	}
	footer a {
		font-size: 16px;
	}
	.links_block li h3 {
	    font-size: 20px;
	}
	.links_block li+li {
		margin-top: 5px;
	}
	.links_block>ul ul{
		margin-top: 7px!important;
	}
	footer div.container + div.container {
	    padding-top: 1rem!important;
	    padding-bottom: 1rem!important;
	}
	.social_links_bottom  .pb-5 {
		padding-bottom: 1rem!important;
	}
	footer {
		font-size: 16px;
	}
	.copy_right_block li+li {
		padding-left: 12px;
    	margin-left: 10px;
	}
	.copy_right_block li a{
		font-size: 14px;
	}
	footer.py-5 {
		padding-top: 2rem!important;
		padding-bottom: 1rem!important;
	}
	.card_popup .modal-dialog {
		max-width: 75%;
	}
	#tri {
		bottom: -43px;
	}
}


@media (min-width: 320px) and (max-width : 575px) {

	.container-fluid.mx {
	    width: 100%;
	}
	header img.logo_img {
		width: 100%;
	}
	.main_banner .carousel .carousel-inner .carousel-item h1 {
		font-size: 20px;
	}
	.social_block{
		right: 10px;
		padding-left: 15px;
	}
	.main_banner .carousel .caption_block {
		width: auto;
	}
	.main_banner .carousel-indicators li {
		width: 30px;
	} 
	.main_banner .carousel img {
		margin-right: 0;
		float: initial;
		margin: 10rem auto 0;
		/*padding-right: 50px;*/
		max-height: 245px;
		display: block;
	}   
	.sidenav a {
		font-size: 18px;
	}
	.main_banner .carousel .carousel-caption {
		bottom: inherit;
		top: 15%;
	}
	.product_features .nav {
		width: 240px;
		/*margin: 0;*/
	}
	.about_block {
		padding: 2rem 0;
	}
	.about_block .col-md-4>div {
		border-right: none;
	    border-bottom: 1px solid #000;
	    padding-right: 0;
	    margin-right: 0;
	    padding-bottom: 10px;
    	margin-bottom: 20px;
    	text-align: center;
	}
	.about_block h1 {
	    font-size: 20px;
	    font-weight: 700;
	    margin-top: 10px;
	}
	.about_block h1 span {
	    display: initial;
	}
	.about_block p {
		text-align: center;
		width: 100%;
	}
	.product_features .nav li a {
		font-size: 18px;
		padding: 0 10px;
	}
	.product_features .nav_lin img{
		width: 30px;
	}
	#ftr {
		padding: 1.5rem;
	    margin-left: 0;
	    margin-bottom: 2rem;
	}
	#ftr li a {
		font-size: 20px;
	}
	#ftr li p {
		font-size: 16px;
	}
	.bg_bike {
	    background: url(../images/render_bike.png);
	    background-repeat: no-repeat;
	    background-position: 100% 280px;
	    background-size: 70px;
	}
	#product, .product_features .product_sel {
		padding-top: 0!important;
		text-align: center;
		margin-bottom: 30px;
	}
	#product, .product_features .product_sel .btn.mt-5 {
		margin-top: 20px!important;
	}
	.product_features h1 {
		font-size: 30px;
	}
	.product_features .product_details ul li {
		margin: 0 auto;
	}
	/*.buy_product_block .row.block1 {
		padding: 2rem 0;
	}*/
	.buy_product_block .left_block ul{
		padding-left: 0;
	}
	.buy_product_block .left_block ul li:first-child {
		width: 100%;
	}
	.buy_product_block .left_block h2 {
		font-size: 28px;
	}
	.buy_product_block .left_block h1 {
		font-size: 28px;
		margin-top: 15px;
	}
	.buy_product_block .left_block p {
		line-height: 2;
	}
	.buy_product_block a span {
		font-size: 18px;
		margin-left: 10px!important;
	}
	.buy_product_block .row.block2 a.next_div {
		margin-left: 0;
		margin-right: 15px;
	}
	.buy_product_block .block1 svg.d_arrow, .buy_product_block .block2 svg.d_arrow {
		width: 30px;
	}
	.buy_product_block .next_div {
		margin-left: 15px;
	}
	/*.buy_product_block .row.block2 {
		padding: 2rem 0;
	}*/
	.buy_product_block .block2 .left_block ul li:first-child {
		width: 100%;
	}
	.block_lg div.card {
		margin-bottom: 1rem;
	}
	#testimonials{
		margin-top: 35px;
	}
	.events_block .img_block {
		padding: 2rem 15px 0;
	}
	.team_block ul, .events_block .img_block ul {
		column-count: 2;
	}
	.contact_block iframe {
		padding-right: 0;
	}
	.contact_block h1 {
	    margin-bottom: 0rem;
	    margin-top: 2rem;
	}
	.contact_block {
		padding: 2rem 15px;
	}
	.social_links_bottom ul li+li {
	    margin-left: 10px;
	}
	.social_links_bottom ul.pb-5 {
		padding-bottom: 1rem!important;
	}
	footer .container.py-5 {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 1rem!important;
		padding-bottom: 1rem!important;
	}
	.container.links_block.py-5>ul>li+li {
		margin-top: 30px;
	}
	.container.links_block.py-5 ul.mt-4 {
		margin-top: 0!important;
	}
	.links_block li+li {
	    margin-top: 0;
	}
	footer .container {
		padding: 0 15px;
	}
	footer {
	    font-size: 18px;
	}
	footer a {
		font-size: 16px;
	}
	.copy_right_block li+li {
		padding-left: 15px;
		margin-left: 15px;
	}
	.copy_right_block ul.float-right {
		float: inherit!important;
	}
	.owl-carousel.banner-1 {
		padding: 1rem;
	}
	#tri {
	    width: 40px;
	    height: 20px;
	    border-top: solid 30px #fff;
	    border-left: solid 30px transparent;
	    border-right: solid 30px transparent;
	    position: absolute;
	    bottom: -28px;
	    left: 30px;
	}
	.testi.owl-carousel .owl-item img {
		width: 50px;
	}
	.client_saying .media h4 {
		font-size: 20px;
	}
	.client_saying .media p {
	    font-size: 14px;
	}
	.testimonial_block {
	    margin-top: 3rem;
	}
	.client_logo_block {
		margin-top: 5rem;
	}
	.team_block {
		padding: 1rem 15px;
    	margin-top: 0.5rem;
	}
	.main_banner .carousel .slide_option_list {
		top: 34%;
	}
	div.cl_block {
		bottom: -150px;
	}
	ul.circle_links {
		width: 300px;
		height: 270px;
	}
	ul.circle_links li:nth-child(1) {
		-moz-transform: rotate(0deg) skew(30deg);
	    -ms-transform: rotate(0deg) skew(30deg);
	    -webkit-transform: rotate(0deg) skew(30deg);
	    transform: rotate(0deg) skew(30deg);
	}
	ul.circle_links li {
		width: 150px;
		height: 140px;
	}
	ul.circle_links li a {
		width: 300px;
		height: 300px;
		font-size: 13px;
	}
	ul.circle_links li:nth-child(1) a {
	    line-height: 20px;
	    -moz-transform: skew(-30deg) rotate(297deg);
	    -ms-transform: skew(-30deg) rotate(297deg);
	    -webkit-transform: skew(-30deg) rotate(297deg);
	    transform: skew(-30deg) rotate(297deg);
	    padding-top: 0;
	}
	ul.circle_links li:nth-child(2) {
	    -moz-transform: rotate(44deg) skew(30deg);
	    -ms-transform: rotate(44deg) skew(30deg);
	    -webkit-transform: rotate(44deg) skew(30deg);
	    transform: rotate(44deg) skew(30deg);
	}
	ul.circle_links li:nth-child(2) a {
	    line-height: 40px;
	    -moz-transform: skew(333deg) rotate(295deg);
	    -ms-transform: skew(333deg) rotate(295deg);
	    -webkit-transform: skew(333deg) rotate(295deg);
	    transform: skew(333deg) rotate(295deg);
	    padding-top: 0px;
	}
	ul.circle_links li:nth-child(3) {
	    -moz-transform: rotate(85deg) skew(30deg);
	    -ms-transform: rotate(85deg) skew(30deg);
	    -webkit-transform: rotate(85deg) skew(30deg);
	    transform: rotate(85deg) skew(30deg);
	}
	ul.circle_links li:nth-child(3) a {
	    line-height: 10px;
	    -moz-transform: skew(335deg) rotate(297deg);
	    -ms-transform: skew(335deg) rotate(297deg);
	    -webkit-transform: skew(335deg) rotate(297deg);
	    transform: skew(335deg) rotate(297deg);
	    padding-top: 20px;
	}
	ul.circle_links li:nth-child(4) {
	    -moz-transform: rotate(130deg) skew(30deg);
	    -ms-transform: rotate(130deg) skew(30deg);
	    -webkit-transform: rotate(130deg) skew(30deg);
	    transform: rotate(130deg) skew(30deg);
	}
	ul.circle_links li:nth-child(4) a {
	    line-height: 10px;
	    -moz-transform: skew(-30deg) rotate(295deg);
	    -ms-transform: skew(-30deg) rotate(295deg);
	    -webkit-transform: skew(-30deg) rotate(295deg);
	    transform: skew(-30deg) rotate(295deg);
	    padding-top: 10px;
	}
	ul.circle_links li.close {
	    width: 80px;
	    height: 80px;
	    left: calc(50% - 35.5px);
    	top: calc(50% - 35.5px);
	}
	ul.circle_links li.close a {
		width: 80px;
	    height: 80px;
	    line-height: 33px;
	    font-size: 20px;
	}
	.modal-dialog {
	    max-width: 100%;
	}
	.pop_contact>.row>.col-md-8 {
	    padding-left: 15px;
	    padding-top: 20px;
	    padding-bottom: 2rem;
	    padding-right: 15px;
	}
	.btn.blk {
		padding: 10px 2rem;
	}
	.nav-pills.fa li:first-child a.nav-link:before, 
	.nav-pills.fa li:last-child a.nav-link:before {
		content: none;
	}
	.links_block li {
		width: 100%;
	}

}

@media (min-width: 485px) and (max-width: 575px) {

	.bg_bike {
	    background: url(../images/render_bike.png);
	    background-repeat: no-repeat;
	    background-position: 100% 220px;
	    background-size: 110px;
	}
}


@media (min-width: 368px) and (max-width: 575px) {
	.about_block p {
	    max-width: 340px;
	    margin: 0 auto;
	}
	.bg_bike {
	    background: url(../images/render_bike.png);
	    background-repeat: no-repeat;
	    background-position: 100% 244px;
	    background-size: 85px;
	}
}


/*320px to 767px*/ 
@media (min-width: 320px) and (max-width: 767px) {

	header li:first-child {
		display: none;
	}
	
	.container.links_block.py-5 ul {
		display: inherit!important;
	}
	.block_lg div.card p{
		min-height: inherit;
	}
	#features > .row {
		flex-direction: column-reverse;
	}
	#ftr {
		margin: 0 auto;
		margin-bottom: 2rem;
		max-width: 500px;
	}
	.buy_product_block .row.block1 > .col-md-8.left_block {
		padding: 2rem 15px;
		border-right: none;
		border-bottom: 7px solid rgba(0, 145, 255, 1);
	}
	.buy_product_block .row.block2 > .col-md-8.left_block.r {
		padding-top: 2rem;
		border-left: none;
		border-top: 7px solid rgba(0, 145, 255, 1);
	}
	.buy_product_block .row.block2 > .col-md-8.left_block.r ul {
	    padding: 0 0 2rem 15px;
	}
	.buy_product_block .row.block1 > .col-md-4, .buy_product_block .row.block2 > .col-md-4.pr-0 {
	    text-align: center;
	    padding: 15px;
	}
	.container.copy_right_block.pt-5 .row > .col-sm-4.col-md-4, 
	.container.copy_right_block.pt-5 .row > .col-sm-4.col-md-4:last-child {
		text-align: center;
		width: 100%;
		max-width: 100%;
    	flex: 0 0 100%;
	}
	.container.copy_right_block.pt-5 .row > .col-sm-4.col-md-4 + .col-sm-4.col-md-4 {
		margin-top: 10px;
	}
	.product_features {
		background-size: cover;
	}
	.content-details h3 {
		opacity: 1;
	}
}

    
    
    
    
    
    